*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(45deg, #4c77a1, #293f54);
    height: 130px;
}

input, label {
    display: none;
}

.nav-bar {
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    background-color: #333333;
    height: max-content;
    padding: 10px;
}

.nav-list {
    display: flex;
    margin-left: 20px;
    gap: 25px;
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: white;
    padding: auto;
    font-size: small;
}

.flex-container {
    display: flex;
    background-color: white;
    width: 55%;
    /* height: 800px; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aside-container {
    /* display: flex; */
    flex: 1;
    min-width: 250px;
    /* flex-direction: column;
    align-items: center; */
    /* width: 50%;
    margin: auto; */
    /* margin-top: 0;
    height: 800px; */
}

.inside-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* height: 800px; */
    margin: auto;
    margin-top: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    font-size: 14px;
    background-color: #f2f2f2;
}

.profil::before, .contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -10px;
    background-color: #4b79a3;
}

.profil, .contact {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}

.reseaux {
    display: flex;
    justify-content: center;
}

.btn-reseaux {
    padding: 5px;
    margin: 5px;
    color: #4b79a3;
    border: 2px solid #4b79a3;
    border-radius: 5px 5px 5px 5px;
}

.titre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: 33px;
    background-color: #4b79a3;
}

.titre {
    width: 100%;
    position: relative;
}

.main-container {
    /* display: flex; */
    flex: 2;
    /* flex-direction: column; */
    background-color: white;
}

.inside-container2 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: auto;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.main {
    box-shadow: 0px 1px 1px 0px #f4f4f4;
    /* display: flex;
    flex-wrap: wrap; */
    margin-bottom: 30px;
    margin-top: 10px;
}

.competences {
    background-color: gray;
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 15px 15px 15px 15px;
}

p {
    margin-bottom: 10px;
}

h2 {
    margin: 10px;
    color: #4b79a3;
}

h4 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #4b79a3 
}

img {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    object-fit: fill; /* Ensures the image fills the circle */
    border-radius: 50%;
    resize: both;
    border: 1px solid black;
}

footer {
    text-align: center;
    align-content: center;
    background-color: #333333;
    color: white;
    height: max-content;
    height: 30px;
}



@media screen and (max-width: 1050px) {
    /* .nav-bar {
        flex-direction: column;
    } */
    .nav-list {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .aside-container {
        background-color: white;
    }

    .inside-container {
        max-width: 350px;
        min-width: 150px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 80%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        gap: 40px;
    }

    .input, label {
        display: block;
        text-align: center;
        background-color: black;
        color: white;
    }

    .profil h1, .contact h1 {
        background-color: white;
    }

    #menu-toggle {
        display: none
    }

    .nav-bar {
        max-height: 0px;
        padding: 0px;
        overflow: hidden;
        transition: max-height 0.1s ease-in-out;
    }

    #menu-toggle:checked ~ .nav-bar {
        max-height: 300px;
        padding: 15px;
    }

    h2 {
        margin: auto;
    }

}